name: CI

on:
  pull_request:
  push:

jobs:
  cargo-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Cargo check workspace
        run: cargo check --workspace

      - name: Run rustfmt
        working-directory: src-tauri
        run: cargo fmt --all -- --check
        continue-on-error: ${{ contains(github.event.head_commit.message, '[skip-format]') }}

      - name: Run clippy
        working-directory: src-tauri
        run: cargo clippy --all-targets --all-features -- -D warnings
