name: CI

on:
  pull_request:
  push:

jobs:
  cargo-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Cargo check workspace
        run: cargo check --workspace

